## Sea Surface Temperature (SST) anomalies

Sea surface temperature anomalies measure the difference in temperature with respect to average conditions of the ocean. So, a positive difference means the surface ocean is warmer than normal and a negative difference means it's cooler than normal.  

In the graph below, redder colors indicate a positive difference and bluer colors indicate a negative difference. Does this make sense based on our discussion of how temperature is distributed around the Earth?

![SST anomaly](https://www.ospo.noaa.gov/data/sst/anomaly/2019/anomnight.1.3.2019.gif)

We are going to calculate sea surface temperature anomalies for the SODA dataset today.  SODA or Simple Ocean Data Assimilation combines experimental measurements of the ocean with modelled data to map out ocean conditions across the globe. The oceans are huge (almost 70% of the Earth's surface is covered by oceans) so it very difficult to get oceanographic measurements of every inch of it. Scientists instead use models based on their understanding of what influences the oceans to fill in the gaps in their measurements. They can also use models to go back in time to look at what oceans might have been like in the past.

### Pseudocode
Here are the steps we need to take:
1. import file
1. save the necessary variables
1. find the mean temperature
1. find SST anomaly

#### Step 1: Import file

```
change directory

import netcdf4 module

read in and save dataset as a variable called 'data'

look at the names of the variables
```

In [1]:
import os
from netCDF4 import Dataset
os.chdir('/Users/brownscholar/Dropbox/BridgeUP_ClimateCoders/Data')
data = Dataset('soda3.12.2_mn_ocean_reg_2017.nc')
data.variables.keys()

odict_keys(['time', 'xt_ocean', 'yt_ocean', 'xu_ocean', 'yu_ocean', 'st_ocean', 'sw_ocean', 'temp', 'salt', 'wt', 'ssh', 'mlt', 'mlp', 'mls', 'net_heating', 'prho', 'u', 'v', 'taux', 'tauy'])

In [2]:
import numpy as np

This is a description of what each of these variables are

In [3]:
for variable in data.variables:
    print(variable,': ',data.variables[variable].long_name)

time :  time
xt_ocean :  longitude
yt_ocean :  latitude
xu_ocean :  longitude
yu_ocean :  latitude
st_ocean :  tcell zstar depth
sw_ocean :  ucell zstar depth
temp :  Potential temperature
salt :  Practical Salinity
wt :  dia-surface velocity T-points
ssh :  effective sea level (eta_t + patm/(rho0*g)) on T cells
mlt :  mixed layer depth determined by temperature criteria
mlp :  Depth of potential density mixed layer
mls :  mixed layer depth determined by salinity criteria
net_heating :  surface ocean heat flux coming through coupler and mass transfer
prho :  potential density referenced to 0 dbar
u :  i-current
v :  j-current
taux :  i-directed wind stress forcing u-velocity
tauy :  j-directed wind stress forcing v-velocity

Use the code above to print out the shape of the variables. What do the dimensions of temp i.e temperature correspond to?

In [4]:
for variables in data.variables:
    print(variables,': ',data.variables[variables].shape)

time :  (12,)
xt_ocean :  (720,)
yt_ocean :  (330,)
xu_ocean :  (720,)
yu_ocean :  (330,)
st_ocean :  (50,)
sw_ocean :  (50,)
temp :  (12, 50, 330, 720)
salt :  (12, 50, 330, 720)
wt :  (12, 50, 330, 720)
ssh :  (12, 330, 720)
mlt :  (12, 330, 720)
mlp :  (12, 330, 720)
mls :  (12, 330, 720)
net_heating :  (12, 330, 720)
prho :  (12, 50, 330, 720)
u :  (12, 50, 330, 720)
v :  (12, 50, 330, 720)
taux :  (12, 330, 720)
tauy :  (12, 330, 720)

In [5]:
data.variables

OrderedDict([('time', <class 'netCDF4._netCDF4.Variable'>
              float64 time(time)
                  standard_name: time
                  long_name: time
                  units: days since 1980-1-1 00:00:00
                  calendar: standard
                  axis: T
              unlimited dimensions: time
              current shape = (12,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('xt_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 xt_ocean(xt_ocean)
                  standard_name: longitude
                  long_name: longitude
                  units: degrees_east
                  axis: X
              unlimited dimensions:
              current shape = (720,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('yt_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 yt_ocean(yt_ocean)
                  standard_name: latitude
                  long_name: latitude
                  units: degrees_north
                  axis: Y
              unlimited dimensions:
              current shape = (330,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('xu_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 xu_ocean(xu_ocean)
                  standard_name: longitude
                  long_name: longitude
                  units: degrees_east
                  axis: X
              unlimited dimensions:
              current shape = (720,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('yu_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 yu_ocean(yu_ocean)
                  standard_name: latitude
                  long_name: latitude
                  units: degrees_north
                  axis: Y
              unlimited dimensions:
              current shape = (330,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('st_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 st_ocean(st_ocean)
                  long_name: tcell zstar depth
                  units: meters
                  positive: up
                  axis: Z
              unlimited dimensions:
              current shape = (50,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('sw_ocean', <class 'netCDF4._netCDF4.Variable'>
              float64 sw_ocean(sw_ocean)
                  long_name: ucell zstar depth
                  units: meters
                  positive: up
                  axis: Z
              unlimited dimensions:
              current shape = (50,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('temp', <class 'netCDF4._netCDF4.Variable'>
              float32 temp(time, st_ocean, yt_ocean, xt_ocean)
                  standard_name: sea_water_potential_temperature
                  long_name: Potential temperature
                  units: degrees C
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('salt', <class 'netCDF4._netCDF4.Variable'>
              float32 salt(time, st_ocean, yt_ocean, xt_ocean)
                  standard_name: sea_water_salinity
                  long_name: Practical Salinity
                  units: psu
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('wt', <class 'netCDF4._netCDF4.Variable'>
              float32 wt(time, sw_ocean, yt_ocean, xt_ocean)
                  long_name: dia-surface velocity T-points
                  units: m/sec
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('ssh', <class 'netCDF4._netCDF4.Variable'>
              float32 ssh(time, yt_ocean, xt_ocean)
                  standard_name: sea_surface_height_above_geoid
                  long_name: effective sea level (eta_t + patm/(rho0*g)) on T cells
                  units: meter
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('mlt', <class 'netCDF4._netCDF4.Variable'>
              float32 mlt(time, yt_ocean, xt_ocean)
                  long_name: mixed layer depth determined by temperature criteria
                  units: m
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('mlp', <class 'netCDF4._netCDF4.Variable'>
              float32 mlp(time, yt_ocean, xt_ocean)
                  long_name: Depth of potential density mixed layer
                  units: m
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('mls', <class 'netCDF4._netCDF4.Variable'>
              float32 mls(time, yt_ocean, xt_ocean)
                  long_name: mixed layer depth determined by salinity criteria
                  units: m
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('net_heating', <class 'netCDF4._netCDF4.Variable'>
              float32 net_heating(time, yt_ocean, xt_ocean)
                  long_name: surface ocean heat flux coming through coupler and mass transfer
                  units: Watts/m^2
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('prho', <class 'netCDF4._netCDF4.Variable'>
              float32 prho(time, st_ocean, yt_ocean, xt_ocean)
                  standard_name: sea_water_potential_density
                  long_name: potential density referenced to 0 dbar
                  units: kg/m^3
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('u', <class 'netCDF4._netCDF4.Variable'>
              float32 u(time, st_ocean, yu_ocean, xu_ocean)
                  standard_name: sea_water_x_velocity
                  long_name: i-current
                  units: m/sec
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('v', <class 'netCDF4._netCDF4.Variable'>
              float32 v(time, st_ocean, yu_ocean, xu_ocean)
                  standard_name: sea_water_y_velocity
                  long_name: j-current
                  units: m/sec
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 50, 330, 720)
              filling on),
             ('taux', <class 'netCDF4._netCDF4.Variable'>
              float32 taux(time, yu_ocean, xu_ocean)
                  standard_name: surface_downward_x_stress
                  long_name: i-directed wind stress forcing u-velocity
                  units: N/m^2
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on),
             ('tauy', <class 'netCDF4._netCDF4.Variable'>
              float32 tauy(time, yu_ocean, xu_ocean)
                  standard_name: surface_downward_y_stress
                  long_name: j-directed wind stress forcing v-velocity
                  units: N/m^2
                  _FillValue: -1e+20
                  missing_value: -1e+20
                  cell_methods: time: mean time: mean
                  time_avg_info: average_T1,average_T2,average_DT
              unlimited dimensions: time
              current shape = (12, 330, 720)
              filling on)])

#### Step 2: Save the required variables

```
save the variables temperature depends on i.e time, st_ocean, yt_ocean, xt_ocean

save temperature i.e temp
```

In [10]:
# Save latitude as variable
lat = data.variables["yt_ocean"][:]
# Save longitude as variable
lon = data.variables["xt_ocean"][:]
#Save time as variable
time = data.variables["time"][:]
#Save depth as variable
depth = data.variables["st_ocean"][:]
# Save temperature as variable
temp = data.variables["temp"][:]

In [11]:
# Save temperature as variable

Print out the minimum and maximum of each variable. Do these values make sense?

In [13]:
import numpy as np

#You can use the min() and max() *method* to do this calculation.
A = np.array([1,2,3,4,5])
print('Example: ',A.min(),'\n')

print('lat min: ',lat.min())
print('lat max: ',lat.max())

Example:  1

lat min:  -74.75
lat max:  89.75

Notice that time is measured in a different format as days from Jan 01, 1980. Sound familiar? We'll learn how to convert to a datetime format using the function in another session.

Draw out what the temp variable might look like.

#### Step 3: Find mean temperature 

*Hint*: Use https://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.mean.html

First, we need to decide what depth we would consider to be surface ocean? Call this variable z.

Then, let's do this step by step. 

1. Only obtain data for the first month. You should get a grid with a shape of (50, 330, 720)

1. Identify the index for the first z m of the ocean
1. Save temperature for the top z m

Average over all z m. You should get a grid that is 330 by 720.

Now, find the mean for the entire grid.

#### But....

You can do this step all at once by just applying the mean function to your array of the first month down to a depth of z m. I just wanted to make sure you got the steps its taking.

Now find the mean for all 12 months to a depth of z m.

#### Step 3: Find SST anomaly

Remember:

SST anomaly = SST - average SST

## Challenge

Repeat these steps for sea surface salinity data ('salt')