## Sorting values on Pandas

Sorting values can help you select data that is most interesting to you.

In [1]:
import pandas as pd
import numpy as np

We've explored two ways to do this using ``for`` loops:
* sorting values from maximum to minimum
* only printing data that is greater/lesser than some set value

I'm going to introduce two functions that would be helpful in getting you there.

**Sort values from maximum to minimum:**

pandas_dataframe.**sort_values**(by, ascending)
* by = name(s) of column to sort
* ascending = True: values will be in ascending order
* ascending = False: values will be in descending order

In [2]:
#Some random data to play around with the function
test_data = pd.DataFrame({'Jan':np.random.rand(50)},index = range(2000, 2050))
test_data.head()

           Jan
2000  0.720005
2001  0.955110
2002  0.739253
2003  0.306539
2004  0.356220

Let's sort the data from lowest to highest with the respect to the Jan column.

In [4]:
#test_data.sort_values(by = 'Jan',ascending = True)

Now, sort the data from highest to lowest.

In [ ]:
test_data.sort_values

**Find all values that meet some condition:**

pandas_dataframe.**where**(cond)
* cond: save all values that meet the condition and replaces others with NaN

Say we want all values that are greater than 0.5

So, our condition is: ``all values >= 0.5``

In [ ]:
cond = test_data >= 0.5
test_data.where(cond)

Set a new condition to apply to the test data.

### Return to the pandas review notebook (*pandas_review_name.ipynb*) and test out these functions on your ENSO index!